------------------------------------------------------------
--- An error occurred in the library step: ${stepName}
------------------------------------------------------------

The following parameters were available to the step:
***
${stepParameters}
***

The error was:
***
${error}
***

Further information:
* Source code of library step ${stepName}: https://github.com/xiak/jenkins-shared-library/src/branch/master/vars/
* Library repository: https://github.com/xiak/jenkins-shared-library.git

----------------------------------------------------------
